body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b2838;
    color: #333;
}

/* Navbar styling */
.navbar {
    background-color: #141414;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar p {
    color: #6495ed;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 2px;
    transition: all 0.1s ease;
}

.navbar a:hover {
    color: #6495ed;
    text-decoration: underline;
}

/* Konten */
.content {
    padding: 20px;
    margin-top: 70px; 
    background-color: #ffffff; 
    border-radius: 6px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    width: 91%;
}

/* Hero section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    color: #ffffff;
    background-image: url('uploads/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero p {
    margin-bottom: 20px;
    font-weight: 100;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero h2 {
    margin-bottom: 10px;
    color: #f4f4f4;
    font-weight: 540;
}

.hero h2, .hero h1, .hero p, .hero .cta-button {
    position: relative;
    z-index: 2;
}

/* Featured Games */
.featured {
    padding: 60px 20px;
    text-align: center;
}

.featured h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #090f71;
}

.game-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-card:hover {
    transform: translateY(-5px);
}

.game-card {
    width: 280px;
    background-color: #090f71;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.game-info {
    text-align: center;
}

.game-card img {
    width: 100%;
    height: auto;
}

.game-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #f4f4f4;
}

.game-info p {
    font-size: 16px;
    color: white;
}

.game-card p {
    font-size: 18px;
    color: #6495ed;
    text-align: right;
    margin-top: auto;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #00d1b2;
    color: #141414;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00a98f;
}
.contentt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .kiri {
    font-size: 24px;
    font-weight: bold;
}

.navbar .kanan {
    display: flex;
    gap: 4px; /* Jarak antar menu */
    margin-right: 50px;
}

.navbar .kanan a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar .kanan a:hover {
    color: #4A90E2; /* Warna saat di-hover */
    text-decoration: underline;
}